node_modules
dist
*.tsbuildinfo
.git
.env
*.env
coverage
.DS_Store
*.log
docker-compose*.yml
.github/
k8s/
/storage
.vscode/
.idea/
test/
scripts/
README.md
AGENTS.md
development.config.js
production.config.js
.prettierrc
eslintrc.js