API_PORT=1111
APP_NAME=refaccionaria
API_HOST=0.0.0.0
API_AUTH_ENABLED=true
API_SECRET=123456789
DB_DBNAME_COLEGIO_INGLES=co_pdc
DB_USERNAME_COLEGIO_INGLES=pro
DB_PASSWORD_COLEGIO_INGLES=kgjh
DB_PORT_COLEGIO_INGLES=3064
DB_HOST_COLEGIO_INGLES=138
DB_SYNCHRONIZE_COLEGIO_INGLES=false
