API_PORT=1111
APP_NAME=refaccionaria
API_AUTH_ENABLED=true
API_SECRET=123456789
DB_DBNAME_CONNECTION='colegiodb'
DB_DBNAME=co_pdc
DB_USERNAME=pro
DB_PASSWORD=kgjh
DB_PORT=3064
DB_HOST=138
DB_SYNCHRONIZE=false
INVOICES_PATH=/var/www/pdc/
XSLT=\home\
ASSETS_PATH=\home\
UPLOADS_PATH=/var/www/uploads